.delete-confirmation,
.delete-confirmed {
    border-radius: 15px;
    width: 24rem;
    height: 20rem;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    padding: 2rem;
}

.delete-confirmation>div,
.delete-confirmed>div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    margin-bottom: 1.2rem;
}

.delete-confirmation-q1 {
    font-size: 2rem;
    text-align: center;
    text-justify: auto;
    margin: 0;
}

.delete-confirmation-q2 {
    color: rgb(95, 95, 95);
    text-align: center;
    text-justify: auto;
    margin: 0;
}

.delete-confimation-btn>button {
    width: 7rem;
    padding: 8px;
    border-radius: 3px;
    border: none;
    color: white;
}

.delete-confimation-btn1 {
    background-color: #929292;
}

.delete-confimation-btn1:hover {
    background-color: #cfcfcf;
}

.delete-confimation-btn2 {
    background-color: #ff4444;
}

.delete-confimation-btn2:hover {
    background-color: #fa8c8c;
}

@media(max-width:390px) {
    .delete-confirmation,
    .delete-confirmed {
        width: 100%;
        height: auto;
    }

    .delete-confimation-btn {
        flex-direction: column;
    }

    .delete-confimation-btn1 {
        margin-bottom: .5rem;
    }
}