.category-page{
    display: flex;
    justify-content: center;
    /* background-color: #a2b2b3; */
}
.category-page-container{
    /* border: 1px solid red; */
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    grid-row-gap: 52px;
}
.category-page-card{
    border-radius:15px;
    width : 18rem !important;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
.category-page-card:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(205, 137, 137, 0.295);
}
@media(max-width: 990px){
    .category-page-container{
        grid-template-columns: repeat(2, auto);
    }

}
@media(max-width: 680px){
    .category-page-container{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
    }

}