
.minTopHeader {
    /* background-color: aquamarine; */
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    height: 52px;
    padding-right: 15px;
    display: none;
}

.minTopHeader img:hover {
    width: 23px;
    border: 1px solid black;
    padding: 2px;
}

.insideMain {
    width: 1248px;
    /* background-color: beige; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 52px;
}

.contact,
.access {
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    gap: 30px;
}

.login:hover,
.signup:hover {
    cursor: pointer;
    color: rgb(111, 144, 197);
}

.minTopHeader img,
.login img,
.signup img,
.phone img,
.email img {
    width: 18px;
    margin-right: 5px;

}

#click {
    display: none;
}

@media(max-width: 1300px) {
    .insideMain {
        width: 96%;
    }
}

@media (max-width: 784px) {
    .insideMain {
        justify-content: center;
        gap: 20px;

    }
}

@media (max-width: 530px) {
    .insideMain {
        display: none;
    }

    .contact,
    .access {
        display: block;
    }

    .minTopHeader {
        display: flex;
    }

    .phone,
    .email,
    .login,
    .signup {
        border: 1px solid rgb(230, 227, 227);
        border-radius: 5px;
        height: 45px;
        width: 300px;
        margin: auto;
        background-color: rgb(246, 246, 246);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #click:checked+div {
        display: block;
        position: absolute;
        z-index: 3;
    }
}