:root{
    /* --nav_color: #494949; */
    /* --nav_color: #ECEFEB; */
    --nav_color: #313539;
}
.main{
    /* background-color: #8E9097; */
    background-color: var(--nav_color);
    color: white;
    font-family: sans-serif;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 999;
}
.insideMain{
    /* background-color: rgb(95, 212, 212); */
    width: 1248px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    position: relative;
}
.logo{
    /* background-color: #5467ad; */
    font-weight: 800;
    font-size: 25px;
}
.logo:hover{
    cursor: pointer;
}
.insideMain img{
    margin-top: 8px;
    width: 20px;
    margin-right: 5px;
    filter: invert(1);
    display: none;
}
.insideMain img:hover{
    width: 23px;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}
.option{
    /* background-color:#5467ad; */
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 18px;
    font-weight: 300;
}
.option div:hover{
    cursor: pointer;
    color: black;
}
#click{
    display: none;
}
@media (max-width: 1300px){
    .insideMain{
        width: 100%;
    }
    .option{
        margin-right: 20px;
    }
    .logo{
        margin-left: 20px;
    }
}
@media(max-width: 680px){
    .option{
        position: absolute;
        top: 70px;
        right: 0px;
        margin-right: 0;
        text-align: center;
        color: white;
        display: none;
    }
    .option div{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(230, 227, 227);
        border-radius: 5px;
        height: 45px;
        width: 300px;
        background-color: var(--nav_color);
    }
    .insideMain img{
        display: block;
        margin-right: 20px;
    }
    #click:checked + div{
        display: block;
    }
}