@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@400&display=swap');
:root{
    --index: 1;
    --slider_container_height: calc(390px * var(--index));
    --card_width: calc(270px * var(--index));
    --pic_container_height: calc(255px * var(--index));
    ----description_height: calc( 135px* var(--index));
    --container_width: 1248px
}
.main{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}
.title{
    /* background-color: blueviolet; */
    height: 50px;
    width: var(--container_width);
    display: flex;
    align-items: center;
    justify-content: space-between
}
.title span{
    font-family: 'Mukta',sans-serif;
    font-size: 38px;
    font-weight: 600;
}
.title button{
    color: white;
    border: none;
    background-color: #494949;
    border-radius: 3px;
    font-size: 20px;
    padding: 6px;
}
.title button:hover{
    background-color: #36B2FA;
    color: black;
    cursor: pointer;
}
.main .mySwiper{
    /* background-color: rgb(183, 186, 225); */
    width: var(--container_width);
    padding-top: 15px;
    padding-bottom: 35px;
}
.card{
    /* border: 1px solid rgb(236, 255, 22); */
    width: var(--card_width);
    height: var(--slider_container_height);
    border-radius: 8px;
    overflow: hidden;
}
.picContainer{
    /* border: 1px solid red; */
    height: var(--pic_container_height);
}

.picContainer img{
    width: var(--card_width);
    height: var(--pic_container_height);
    object-fit: cover;
}
.description{
    background-color: #F5F5FA;
    height: var(----description_height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.description .detail{
    font-family: 'Poppins',sans-serif;
    /* overflow: hidden;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical; */
}
.description span{
    font-family: 'Poppins',sans-serif;

}
.description div img{
    width: 12px;
    margin-right: 5px;
}
.slide:hover{
    cursor: pointer;
}

@media(max-width: 1275px){
    :root{
        --container_width: 95%;
    }
}
@media(max-width: 575px){
    .slide{
        display: flex;
        justify-content: center;
    }
}