@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@400&display=swap');

.card{
    /* border: 1px solid red; */
    border-radius: 8px;
    width: 270px;
    height: 370px;
    box-shadow: 1px 1px 5px rgb(136, 136, 136);
    transition: margin 0.1s ease;
    overflow: hidden;

}
.card:hover{
    cursor: pointer;
    margin-top: -12px;
}
.picContainer{
    height: 68%;
}
.picContainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description{
    background-color: #F5F5FA;
    height: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
}
.description div img{
    width: 9px;
    margin-right: 5px;
}
.description div{
    display: flex;
    align-items: center;
}
.description span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}