.navbar-main {
    background-color: #F4F4F4;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar-content {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-content-logo {
    filter: invert(1);
    height: 6rem;
    margin: -.3rem -1rem;
}

.navbar-content-logo:hover {
    filter: invert(.4);
}

.navbar-menu {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.navbar-menu>* {
    margin-left: 4rem;
    /* border: 1px solid green; */
}

.navbar-home {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
}

.navbar-home:hover {
    color: inherit;
}

.navbar-postad,
.navbar-signup {

    color: white !important;
    border: 1px solid white;
    border-radius: .5rem;
    background-color: #435359;
    padding: 10px;
    text-decoration: none;
    width: fit-content;
}

.navbar-postad:hover,
.navbar-signup:hover {
    background-color: rgb(112, 112, 112);
}

.navbar-user {
    position: relative;
}

.navbar-user-dropdown {
    /* border: 3px solid red; */
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 4rem;
}

.navbar-user-button {
    border: none;
    background-color: transparent;
    display: flex !important;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.navbar-user-icon {
    background-color: #bfc2c6;
    color: white;
    padding: .4rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.navbar-non-minimize {
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
}

.navbar-non-minimize>* {
    margin-left: 1rem;
}

.navbar-bar {
    display: none;
    background: none;
    border: none;
}


@media(max-width:1010px) {

    .navbar-bar {
        display: block;
    }

    .navbar-menu {
        background-color: #F4F4F4;
        border: 1px solid #d3cece;
        border-radius: 5px;
        position: absolute;
        top: 85.5px;
        right: 0;
        flex-direction: column;
        height: 90vh;
    }

    .navbar-menu>* {
        margin: 1rem 4rem;
    }

}