:root {
    --background-color: #313539;
    --shadow-color: #1e90ff;
    --hover-color: rgba(0, 0, 0, 0.2);
}
html {
    scroll-behavior: smooth;
}
<<<<<<< HEAD
=======

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

>>>>>>> paras
.sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;  
    background-color: #313539;  
}
.signup{
    color: white  !important;
    border: 1px solid white;
    border-radius: 4px;
    background-color: #1AB188;
    padding: 10px;
}
.signup:hover{
    background-color: #179B77;
}
.banner-bg {
    /* background-image: url('../images//banner.jpeg'); */
    background: linear-gradient(0deg, rgba(45, 45, 45, 0.3), rgba(45, 45, 45, 0.5)), url('../images//banner-1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    aspect-ratio: 1280/600;
    height: 57vh;
    width: 100%;
    vertical-align: middle;
    position: relative;
}
.banner-text {
    color: white;
    font-weight: 600;
    font-size: 60px;
    text-shadow: 0px 0px 10px #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.contact-info-searchbar{
    border: 1px solid white;
    padding: 15px;
    position: absolute;
    left: 100px;
    bottom: 105px;
}
@media (max-width: 1600px){
    .contact-info-searchbar{
        position: static;
    }
}
.contact-info-searchbar img{
    filter: invert(1);  
}
.contact-info-text {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.searchContainer {
    background-color: white;
    width: 60% !important;
    border-radius: 10px !important;
    border: 2px solid rgb(47, 46, 46);

}

.search-padding {
    padding: 15px 1.4rem !important;
}

.no-glow {
    border: none !important;
    box-shadow: none !important;
}

.no-glow :focus {
    box-shadow: none !important;
    border: none !important;
}

.searchbutton :hover {
    border-radius: 0 8px 8px 0;
    background-color: var(--hover-color);
    color: white;
}



a:hover>img {
    filter: opacity(1) drop-shadow(0 0 0 red);
}


a.viewall-text {
    font-size: 11px;
    color: #000;
}

a.viewall-text:hover {
    font-weight: 500;
    color: red;
}

.overlay-category {
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.9em;
    font-weight: 800;
    padding: 16px;
    border-radius: 6px;
    text-align: center;
    vertical-align: middle;
    border: 5px solid rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.overlay-category:hover {
    /* border: 5px solid red; */
    background-color: var(--hover-color);
}

.cat-image {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.btn-round {
    border-radius: 100px;
}

.btn-swiper {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border: 1px solid #000;
    bottom: 0px;
    flex-direction: column-reverse;
    text-align: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.btn-swiper:hover {
    background-color: var(--hover-color);

}

.category-card {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}


.rental-card {
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 4px var(--hover-color);

}

.rental-card:hover {
    background-color: var(--hover-color);
}

.rental-image {
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.rental-text {
    text-decoration: none !important;
    color: #000;
    font-size: 12px;

}

.footer-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

li.bottom-nab {
    list-style: none
}

li>a {
    text-decoration: none;
    color: #fff;
}

li>a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.footer-page-link {
    border-left: #fff solid 2px;
    padding-left: 20px;
}


.contact-bg {
    /* background-image: url('../images//banner.jpeg'); */
    background: linear-gradient(0deg, rgba(45, 45, 45, 0.2), rgba(45, 45, 45, 0.2)), url('../images//contact-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    height: 30%;
    vertical-align: middle;
    margin-top: 70px;

}

.contact-card {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1.3em;
    border-radius: 10px;
    height: 530px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;

}

#not_found_page {
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-color: #000;
    background: url('../images/404image.jpeg');
    background-size: cover;

}

.map-box {
    height: 530px;
    border-radius: 10px;
    z-index: 1;
}



.animated {
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation: fadeInAnimation ease 800ms;
}

.slideUp {
    animation: slideUpAnimation ease 1300ms, fadeInAnimation ease 1300ms;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUpAnimation {
    0% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

.scrollToTop {
    background-color: var(--background-color);
    border-radius: 100px;
    width: 70px;
    height: 70px;
    position: fixed;
    padding: 20px;
    right: 40px;
    bottom: 40px;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    transition: opacity 1s ease-in-out;
    box-shadow: 0 0px 5px 0 #fff;
    border: none;
    outline: none;
}

.closeBtn {
    background-color: var(--background-color);

    padding: 20px;
    color: #fff;
    z-index: 99;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 60px;
    position: fixed;
    right: 20px;
    top: 20px;


}

.closeBtn:hover {

    background-color: var(--hover-color);
}

.expanded {
    flex: 1;
}