.topbar{
    /* background-color: bisque; */
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.topbar-container{
    display: flex;
    justify-content: space-between;
}
.topbar-contact{
    /* border: 3px solid yellow; */
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}
.topbar-contact div{
    margin-right: 1rem;
}
.topbar-contact div span{
    margin-left: 0.5rem;
}
.topbar-logos a{
    margin-left: 0.5rem;
}
@media (max-width: 450px) {
    .topbar-container{
        flex-direction: column;
    }
}